.plus {
	cursor: pointer;
}
.plus-box {
	margin-right: 40px;
}

body {
	background: #eff5f7;
}

body:-webkit-scrollbar {
	/*width: 10px;*/
	height: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
body:-webkit-scrollbar-thumb {
	background-color: #17a2b8;
	border-radius: 10px;
}
thead {
	background: #0099FF;
    color: #fff;
}
.th-h {
	font-weight: 400;
	height: 53px;
    font-size: 20px;
}
.td-use {
 	font-size: 20px;
    font-weight: 600;
}
.container {
	margin-top: 50px;
}
.td-trash i {
	border-right: 1px solid;
    padding-right: 10px;
    cursor: pointer;
}
.overflowH {
	overflow-y: hidden;
}
.border-red {
	border: 2px solid red;
}

@media(max-width: 400px) {
	.plus-box {
		margin-right: 0px;
	}

	.modal-header {
	    position: fixed;
	    background-color: #fff;
	    z-index: 99;
	    width: 95%;
	    margin: 0 auto;
	}
	.alert-modal .alert {
		position: fixed;
	    top: 72px;
	    width: 95%;
	    z-index: 99;
	}
	form {
		margin-top: 70px;
	}
	.modal-form2 {
		margin-top: 128px;
	}
}
@media (max-width: 900px) {
	body {
		height: 900px;
	}
}

/*============================== Subscriptions ==============================*/
.subscriptions h3, .addSubscriptions {
	display: inline-block;
}
.card-subscriptions {
	margin: 0 auto;
	margin-bottom: 15px;
}
.addSubscriptions ul {
		border: none;
	  	background: rgba(0, 0, 0, 0.2);
		padding: 6px;
}
.addSubscriptions li {
	border: none;
    background: rgba(0, 0, 0, 0);
}
.addSubscriptions input {
	font-size: 18px;
    font-weight: 700;
    margin-bottom: 9px;
}
.addSubscriptions span {
	border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
}
.delete-abic {
	color: #0d6efd;
	cursor: pointer;
}

/*		ul: {
	    	border: 'none',
	    	background: 'rgba(0, 0, 0, 0.2)',
			padding: '6px'
	    },
	    '.li': {
	    	border: 'none',
	    	background: 'rgba(0, 0, 0, 0)',
	    	span: {
	    		borderRadius: '6px',
	    		fontWeight: '500',
	    		cursor: 'pointer'
	    	},
	    	input: {
	    		fontSize: '18px',
    			fontWeight: '700',
    			marginBottom: '9px'
	    	}
	    }*/