.Sidebar {
	position: fixed;
}

.width50 {
	animation: widthMenu 0.4s ease-in-out both; 
}
.width100 {
	animation: widthMenu 0.4s ease-in-out both reverse; 
}
@media(max-width: 700px) {
	.width50 {
		animation: widthMenuSm 0.4s ease-in-out both; 
	}
	.width100 {
		animation: widthMenuSm 0.4s ease-in-out both reverse; 
	}
}

@keyframes widthMenu {
	0% {
		width: 270px;
	}
	100% {
		width: 99px;
	}
}
@keyframes widthMenuSm {
	0% {
		margin-left: 0px;
	}
	100% {
		margin-left: -220px;
	}
}


/*{
	width: 
}
.iconR-revers{
	animation: iconRotateR 0.2s ease-in-out both reverse; 
}

@keyframes iconRotateR {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}*/