.h-Login > div {
	margin: auto 0;
	margin-right: 8px;
}
.h-Login h3{ 
	margin-bottom: 0px;
}
.box-i {
	margin: 15px 0px;
	padding-left: 20px;
    margin-left: 11px;
}
.box-i i {
	cursor: pointer;
    display: inline-block;
    transition: 1s;
}
.iconR {
	animation: iconRotateR 0.2s ease-in-out both;
}
.iconR-revers{
	animation: iconRotateR 0.2s ease-in-out both reverse; 
}

@keyframes iconRotateR {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@media(max-width: 1000px) {
	.box-i {
		margin: 8px 0px;
		padding-left: 10px;
	}
}


/*{
	background-color: #fff;
}*/