/* body */
body {
    background: #EFF5F7;
}

body .nonePaddingModal .ant-modal-body {
    padding: 0;
}
body .nonePaddingModal .ant-modal-close {
    display: none;
}
/* body */

.displayNone {
    display: none;
}

@font-face {
    font-family: "MontLight";
    src: url("./../fonts/Mont/Mont-Light.ttf");
}

@font-face {
    font-family: "MontBold";
    src: url("./../fonts/Mont/Mont-Bold.ttf");
}