.boxPUPILS button {
	font-size: 14px;
	margin: 2px;
	padding: 0px 7px 2px 7px;
}
@media(max-width: 575px) {
	.boxPUPILS {
		padding-top: 10px;
	}
}
.ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td {
	padding: 16px 12px;
}